{
  "openapi": "3.1.0",
  "info": {
    "title": "Apiodactyl API",
    "version": "1.0.0",
    "description": "API specification for games, books, reviews, projects, screenshots, and admin endpoints."
  },
  "servers": [
    {
      "url": "https://api.bearodactyl.dev"
    },
    {
      "url": "http://127.0.0.1:2379"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Index",
        "operationId": "index",
        "responses": {
          "200": {
            "description": "Successful index response"
          }
        }
      }
    },
    "/games/": {
      "post": {
        "summary": "Create a new game",
        "operationId": "createGame",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewGame"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Game created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Game"
                }
              }
            }
          }
        }
      }
    },
    "/games/bulk": {
      "delete": {
        "summary": "Bulk delete games",
        "operationId": "bulkDeleteGames",
        "responses": {
          "200": {
            "description": "Games deleted"
          }
        }
      },
      "patch": {
        "summary": "Bulk update games",
        "operationId": "bulkUpdateGames",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateGame"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Games updated"
          }
        }
      }
    },
    "/games/search": {
      "get": {
        "summary": "Search games",
        "operationId": "searchGames",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/games/{game_id}": {
      "get": {
        "summary": "Get game by ID",
        "operationId": "getGameById",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Game details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Game"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a game",
        "operationId": "updateGame",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewGame"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Game updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Game"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Patch a game",
        "operationId": "patchGame",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGame"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Game patched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Game"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a game",
        "operationId": "deleteGame",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Game deleted"
          }
        }
      }
    },
    "/reviews/": {
      "post": {
        "summary": "Create review",
        "operationId": "createReview",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewReview"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get reviews",
        "operationId": "getReviews",
        "responses": {
          "200": {
            "description": "List of reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Review"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{id}": {
      "put": {
        "summary": "Update review",
        "operationId": "updateReview",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewReview"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Review updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Patch review",
        "operationId": "patchReview",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReview"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Review patched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete review",
        "operationId": "deleteReview",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Review deleted"
          }
        }
      }
    },
    "/reviews/search": {
      "get": {
        "summary": "Search reviews",
        "operationId": "searchReviews",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Review"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}": {
      "get": {
        "summary": "Get review by ID",
        "operationId": "getReviewById",
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Review details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        }
      }
    },
    "/projects/": {
      "post": {
        "summary": "Create project",
        "operationId": "createProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProject"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get projects",
        "operationId": "getProjects",
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "summary": "Get project by ID",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update project",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Patch project",
        "operationId": "patchProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project patched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete project",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted"
          }
        }
      }
    },
    "/read-watch/": {
      "post": {
        "summary": "Add book",
        "operationId": "createBook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBook"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Book created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get books",
        "operationId": "getBooks",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of books",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Book"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/read-watch/{book_id}": {
      "get": {
        "summary": "Get book by ID",
        "operationId": "getBookById",
        "parameters": [
          {
            "name": "book_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Book details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update book",
        "operationId": "updateBook",
        "parameters": [
          {
            "name": "book_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Book updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Patch book",
        "operationId": "patchBook",
        "parameters": [
          {
            "name": "book_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Book patched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete book",
        "operationId": "deleteBook",
        "parameters": [
          {
            "name": "book_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Book deleted"
          }
        }
      }
    },
    "/wplace/": {
      "post": {
        "summary": "Create screenshot",
        "operationId": "createScreenshot",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewWplaceScreenshot"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Screenshot created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WplaceScreenshot"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get screenshots",
        "operationId": "getScreenshots",
        "responses": {
          "200": {
            "description": "List of screenshots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WplaceScreenshot"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wplace/{id}": {
      "get": {
        "summary": "Get screenshot by ID",
        "operationId": "getScreenshot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WplaceScreenshot"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update screenshot",
        "operationId": "updateScreenshot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewWplaceScreenshot"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Screenshot updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WplaceScreenshot"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Patch screenshot",
        "operationId": "patchScreenshot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWplaceScreenshot"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Screenshot patched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WplaceScreenshot"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete screenshot",
        "operationId": "deleteScreenshot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Screenshot deleted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "chapter": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "rating": {
            "type": "integer"
          },
          "thoughts": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "chapter",
          "description",
          "rating",
          "thoughts"
        ]
      },
      "NewReview": {
        "type": "object",
        "properties": {
          "chapter": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "rating": {
            "type": "integer"
          },
          "thoughts": {
            "type": "string"
          }
        },
        "required": [
          "chapter",
          "description",
          "rating",
          "thoughts"
        ]
      },
      "UpdateReview": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "rating": {
            "type": "integer"
          },
          "thoughts": {
            "type": "string"
          }
        }
      },
      "WplaceScreenshot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "alt": {
            "type": "string"
          },
          "coverimage": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "alt",
          "coverimage"
        ]
      },
      "NewWplaceScreenshot": {
        "type": "object",
        "properties": {
          "alt": {
            "type": "string"
          },
          "coverimage": {
            "type": "string"
          }
        },
        "required": [
          "alt",
          "coverimage"
        ]
      },
      "UpdateWplaceScreenshot": {
        "type": "object",
        "properties": {
          "alt": {
            "type": "string"
          },
          "coverimage": {
            "type": "string"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "source": {
            "type": "string"
          },
          "cover_image": {
            "type": "string",
            "nullable": true
          },
          "install_command": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "source"
        ]
      },
      "NewProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "source": {
            "type": "string"
          },
          "cover_image": {
            "type": "string",
            "nullable": true
          },
          "install_command": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name",
          "description",
          "source"
        ]
      },
      "UpdateProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string"
          },
          "cover_image": {
            "type": "string"
          },
          "install_command": {
            "type": "string"
          }
        }
      },
      "Book": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "rating": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "my_thoughts": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "nullable": true
            },
            "nullable": true
          },
          "cover_image": {
            "type": "string"
          },
          "explicit": {
            "type": "boolean"
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "title",
          "author",
          "genres",
          "tags",
          "rating",
          "status",
          "description",
          "my_thoughts",
          "cover_image",
          "explicit"
        ]
      },
      "NewBook": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rating": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "my_thoughts": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "nullable": true
            },
            "nullable": true
          },
          "cover_image": {
            "type": "string"
          },
          "explicit": {
            "type": "boolean"
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "title",
          "author",
          "genres",
          "tags",
          "rating",
          "status",
          "description",
          "my_thoughts",
          "cover_image",
          "explicit"
        ]
      },
      "UpdateBook": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rating": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "my_thoughts": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "nullable": true
          },
          "cover_image": {
            "type": "string"
          },
          "explicit": {
            "type": "boolean"
          },
          "color": {
            "type": "string"
          }
        }
      },
      "Game": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "developer": {
            "type": "string"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "rating": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "my_thoughts": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "nullable": true
          },
          "cover_image": {
            "type": "string"
          },
          "explicit": {
            "type": "boolean"
          },
          "percent": {
            "type": "integer"
          },
          "bad": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "title",
          "developer",
          "genres",
          "tags",
          "rating",
          "status",
          "description",
          "my_thoughts",
          "cover_image",
          "explicit",
          "percent",
          "bad"
        ]
      },
      "NewGame": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "developer": {
            "type": "string"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rating": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "my_thoughts": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "nullable": true
          },
          "cover_image": {
            "type": "string"
          },
          "explicit": {
            "type": "boolean"
          },
          "percent": {
            "type": "integer"
          },
          "bad": {
            "type": "boolean"
          }
        },
        "required": [
          "title",
          "developer",
          "genres",
          "tags",
          "rating",
          "status",
          "description",
          "my_thoughts",
          "cover_image",
          "explicit",
          "percent",
          "bad"
        ]
      },
      "UpdateGame": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "developer": {
            "type": "string"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rating": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "my_thoughts": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "nullable": true
          },
          "cover_image": {
            "type": "string"
          },
          "explicit": {
            "type": "boolean"
          },
          "percent": {
            "type": "integer"
          },
          "bad": {
            "type": "boolean"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "key_hash": {
            "type": "string"
          },
          "is_admin": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id",
          "key_hash",
          "is_admin",
          "created_at"
        ]
      },
      "NewApiKey": {
        "type": "object",
        "properties": {
          "key_hash": {
            "type": "string"
          },
          "is_admin": {
            "type": "boolean"
          }
        },
        "required": [
          "key_hash",
          "is_admin"
        ]
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized"
      },
      "NotFound": {
        "description": "Not Found"
      },
      "ServerError": {
        "description": "Internal Server Error"
      }
    }
  }
}